<!DOCTYPE html>
<html>
  <head>
  <title></title>
  <meta charset="utf-8">
  <link href="./" type="text/css" rel="stylesheet">
  <link href="./" type="image/png" rel="icon">
  </head>
  <body>

    <h1><%=file%></h1>

<br>
<br>
<br>
<a href="/">Atras<a>
  </body>
  
</html>
