<!DOCTYPE html>
<html>
  <head>
  <title></title>
  <meta charset="utf-8">
  <link href="./" type="text/css" rel="stylesheet">
  <link href="./" type="image/png" rel="icon">
  </head>
  <body>

  <form method="POST" action="./home">
    <label for="username">username</label>
    <input type="text" class="" id="username" name="username">
    <label for="password">password</label>
    <input type="text" class="" id="password" name="password">
    <button type="submit" class="" id="login">LogIn</button>
  </form>

  <a href="./createAccount">Crear cuenta</a>

  </body>
  <script type="text/javascript" src="./main.js"></script>
</html>
