<!DOCTYPE html>
<html>
  <head>
  <title></title>
  <meta charset="utf-8">
  <link href="./" type="text/css" rel="stylesheet">
  <link href="./" type="image/png" rel="icon">
  </head>
  <body>
    <p>La contraseña para <%=userObj.username%> es <%=userObj.password%> por favor no se la des a nadie y recuerdala.</p>
    <a href="/">Iniciar sesion</a>
  </body>
  <script type="text/javascript" src="./main.js"></script>
</html>
