<!DOCTYPE html>
<html>
  <head>
  <title>password info</title>
  <meta charset="utf-8">
  <link href="./" type="text/css" rel="stylesheet">
  <!--<link href="./" type="image/png" rel="icon">-->
  </head>
  <body>
    <form method="POST" action="/infoGiven">
      <label for="username">Usuario</label>
      <input type="text" class="" id="" readonly value="<%=userObj.username%>" name="username">
      <label for="securityQuestion">Pregunta de seguridad</label>
      <input type="text" class="" id="" readonly value="<%=userObj.securityQuestion%>" name="securityQuestion">
      <label for="securityAnser">Respuesta de seguridad</label>
      <input type="text" class="" id="" name="securityAnswer">
      <button type="submit" class="" id="">recuperar</button>
    </form>
  </body>
  <script type="text/javascript" src="./main.js"></script>
</html>
