<!DOCTYPE html>
<html>
  <head>
  <title></title>
  <meta charset="utf-8">
  <link href="./" type="text/css" rel="stylesheet">
  <link href="./" type="image/png" rel="icon">
  </head>
  <body>
    <form method="POST" action="/passwordInfo">
      <label for="username">Usuario</label>
      <input type="text" class="" id="username" name="username">
      <button type="submit" class="" id="btnInfo">recuperar</button>
    </form>
  </body>
  <script type="text/javascript" src="./main.js"></script>
</html>
